back-end-modules/* @Jo-Neto @SkyvengerLL
back-end-objects/* @Jo-Neto @SkyvengerLL
server.js @Jo-Neto @SkyvengerLL
front-end/* @viniciusna @flaaaaaavis @Ferr50
server.js @Jo-Neto @SkyvengerLL

package.json @Jo-Neto


