* {
    font-size: 20px;
}

body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

#battlefield {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#state-div {
    background-color:  black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.battlefieldInner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#req-div-inner, #req-div, #req-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#res-div, #res-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
}

#res-div, #req-div {
    height: 400px;
    display: flex;
    justify-content: flex-start;
}

#res-div {
    width: 400px;
    background-color: rgb(218, 115, 115);
    border-radius: 10px;
}

#req-div {
    width: 400px;
    background-color: rgb(139, 228, 139);
    border-radius: 10px;
}

#res-field, #req-field {
    display: flex;
    justify-content: space-around;
    height: 250px;
    align-items: center;
}